{% extends 'portfolioWeb/base.html' %}

zaradność{% block title %}
About Page
{% endblock %}

{% load static %}
{% block content %}
<div class="container min-vh-100">
    <h2 class="mb-5"> About me <span></span></h2>
    <div class="content-information d-flex align-items-center  m-auto mb-5 justify-content-center ">
        <p class="w-75 m-auto"><i><b>I'm from graduate network engineer and from passion a begginer programmer and
            "home"
            music
            producer. The team work is something that I a specially love. I also like to solve some unconventional
            exercises and challenges. Amibtious and obstinate, always going for realization set goal.</b></i></p>
    </div>
    <h2 class="mb-5">Programming Skills<span></span></h2>
    <p class="mb-5 w-75 m-auto"><b><i>Why every skill on Junior LVL ?
        Maybe my skills are more advanced <span>(check it - just call/mail me)</span> ... there's so many thing to
        learn...
        Programming is the only way that I want to following .
        I love programming. This is the only way that I want to following.
        I'm hungry for more knowledge and Lvl up my skills!</i></b></p>

    <table class="m-auto mb-5">
        <thead>
        <th class="w-50">Technology</th>
        <th class="w-50">Lvl</th>
        </thead>
        <tbody>
        <tr>
            <td><i class="fab fa-python"></i> Python</td>
            <td><i class="fas fa-circle point"></i> <i class="fas fa-circle point"></i> <i class="fas fa-circle"></i>
                <i class="fas fa-circle "></i> <i class="fas fa-circle "></i> / Junior
            </td>
        </tr>
        <tr>
            <td><i class="fab fa-python"></i> Django</td>
            <td><i class="fas fa-circle point"></i> <i class="fas fa-circle point"></i> <i class="fas fa-circle"></i>
                <i class="fas fa-circle "></i> <i class="fas fa-circle "></i> / Junior
            </td>
        </tr>
        <tr>
            <td><i class="fab fa-python"></i> DRF</td>
            <td><i class="fas fa-circle point"></i> <i class="fas fa-circle point"></i> <i class="fas fa-circle"></i>
                <i class="fas fa-circle "></i> <i class="fas fa-circle "></i> / Junior
            </td>
        </tr>
        <tr>
            <td><i class="fab fa-js"></i> JavaScript</td>
            <td><i class="fas fa-circle point"></i> <i class="fas fa-circle point"></i> <i class="fas fa-circle"></i>
                <i class="fas fa-circle "></i> <i class="fas fa-circle "></i> / Junior
            </td>
        </tr>
        <tr>
            <td><i class="fab fa-react"></i> React</td>
            <td><i class="fas fa-circle point"></i> <i class="fas fa-circle point"></i> <i class="fas fa-circle"></i>
                <i class="fas fa-circle "></i> <i class="fas fa-circle "></i> / Junior
            </td>
        </tr>
        <tr>
            <td><i class="fas fa-database"></i> SQL</td>
            <td><i class="fas fa-circle point"></i> <i class="fas fa-circle point"></i> <i class="fas fa-circle"></i>
                <i class="fas fa-circle "></i> <i class="fas fa-circle "></i> / Junior
            </td>
        </tr>
        <tr>
            <td><i class="fab fa-html5"></i> HTML</td>
            <td><i class="fas fa-circle point"></i> <i class="fas fa-circle point"></i> <i class="fas fa-circle"></i>
                <i class="fas fa-circle "></i> <i class="fas fa-circle "></i> / Junior
            </td>
        </tr>
        <tr>
            <td><i class="fab fa-css3-alt"></i> CSS</td>
            <td><i class="fas fa-circle point"></i> <i class="fas fa-circle point"></i> <i class="fas fa-circle"></i>
                <i class="fas fa-circle "></i> <i class="fas fa-circle "></i> / Junior
            </td>
        </tr>
        <tr>
            <td><i class="fab fa-sass"></i> SASS</td>
            <td><i class="fas fa-circle point"></i> <i class="fas fa-circle point"></i> <i class="fas fa-circle"></i>
                <i class="fas fa-circle "></i> <i class="fas fa-circle "></i> / Junior
            </td>
        </tr>
        <tr>
            <td><i class="fab fa-git-alt"></i> Git & GitHub</td>
            <td><i class="fas fa-circle point"></i> <i class="fas fa-circle point"></i> <i class="fas fa-circle"></i>
                <i class="fas fa-circle "></i> <i class="fas fa-circle "></i> / Junior
            </td>
        </tr>
        <tr>
            <td><i class="fab fa-linux"></i> Linux</td>
            <td><i class="fas fa-circle point"></i> <i class="fas fa-circle point"></i> <i class="fas fa-circle"></i>
                <i class="fas fa-circle "></i> <i class="fas fa-circle "></i> / Junior
            </td>
        </tr>
        <tr>
            <td><i class="fab fa-unity"></i> Unity</td>
            <td><i class="fas fa-circle point"></i> <i class="fas fa-circle point"></i> <i class="fas fa-circle"></i>
                <i class="fas fa-circle "></i> <i class="fas fa-circle "></i> / Junior
            </td>
        </tr>
        </tbody>
    </table>

    <div class="soft-skills mb-5">
        <h2 class="mb-5">Soft skills</h2>

        <table class="m-auto mb-5">
            <thead>
            <th class="w-50">Skill</th>
            <th class="w-50">Lvl</th>
            </thead>
            <tbody>
            <tr>
                <td>Sales planning</td>
                <td><i class="fas fa-check"></i>
                </td>
            </tr>
            <tr>
                <td>Communicativeness</td>
                <td><i class="fas fa-check"></i>
                </td>
            </tr>
            <tr>
                <td>
                    resourcefulness
                </td>
                <td><i class="fas fa-check"></i>
                </td>
            </tr>
            <tr>
                <td>Independence</td>
                <td><i class="fas fa-check"></i>
                </td>
            </tr>
            <tr>
                <td>Making contact with ease</td>
                <td><i class="fas fa-check"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="Languages mb-5">
        <h2 class="mb-5">Languages</h2>
        <table class="m-auto mb-5">
            <thead>
            <th class="w-50">Language</th>
            <th class="w-50">Lvl</th>
            </thead>
            <tbody>
            <tr>
                <td>English</td>
                <td>B1
                </td>
            </tr>
            <tr>
                <td>Germany</td>
                <td>A2
                </td>
            </tr>
            <tr>
                <td>Polish</td>
                <td>Native
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}