<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="{% static 'portfolioWeb/css/portfolioWeb.css' %}" rel="stylesheet">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="shortcut icon" type="image/png" href="{% static 'portfolioWeb/favicon/favicon.png' %}">
</head>
<body>

<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i>A B <i class="fas fa-briefcase"></i></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNav">
                <ul class="navbar-nav justify-content-around w-100">
                    <li class="nav-item">
                        <a class="nav-link nav-link-home" id="menuHome" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-about" id="menuAbout" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-contact" id="menuContact" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-projects" id="menuProjects" href="{% url 'projects' %}">Projects</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link-languages" href="#" id="navbarDarkDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <span id="menuLanguages">Languages</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-center languageWrapper"
                            aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="#" onclick="changeLanguage('eng')"><span id="menuLanguageEnglish">English</span> <img class="img-fluid language-image-icon"
                                                                               src="{% static 'portfolioWeb/images/united-kingdom.png'%}" style="width:20px"></a>
                            </li>
                            <li><a class="dropdown-item" href="#" onclick="changeLanguage('pl')"><span id="menuLanguagePolish">Poland</span> <img class="img-fluid language-image-icon"
                                                                              src="{% static 'portfolioWeb/images/poland.png'%}" style="width:20px"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% block content %}


{% endblock %}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
    <linearGradient id="gradient">
        <stop offset="0%" stop-color="#00c0ed"/>
        <stop offset="50%" stop-color="#0065ff"/>
        <stop offset="89%" stop-color="#7c00ff"/>
    </linearGradient>
    <path fill="url(#gradient)" fill-opacity="1"
          d="M0,96L60,101.3C120,107,240,117,360,117.3C480,117,600,107,720,101.3C840,96,960,96,1080,106.7C1200,117,1320,139,1380,149.3L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
    <footer>
        <div class="footer-test">
            <h5 id="footerContactHeader">Contact Me on : </h5>
            <ul class="d-flex justify-content-center">
                <li><a href="https://www.linkedin.com/in/adam-b%C5%82a%C5%BCy%C5%84ski-230552b8/">LinkedIn - <i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://github.com/adam19-pl">Github - <i class="fab fa-github"></i></a></li>
                <li><a href="mailto:blazynski.adam@gmail.com">Email - <i class="fas fa-envelope"></i></a></li>
                <li><a href="tel:794-366-422"><span id="footerContactPhone">Phone</span> - <i class="fas fa-phone"></i></a></li>
            </ul>
        </div>
        <div class="footer-test pb-4"><span id="footerIconsCredential">Icons made by</span> <a href="https://www.freepik.com" title="Freepik">Freepik</a> <span id="footerIconsCredentialFrom2">from</span>
            <a
                    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> &
            <a href="https://www.fontawsome.com" title="Font Awsome">Font Awsome</a> <span id="footerIconsCredentialFrom">from</span>

            <a href="https://fontawesome.com/" title="Font Awsome">www.fontawsome.com</a></div>
    </footer>
</svg>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>
    <script src="{% static 'portfolioWeb/js/main.js' %}"></script>
</body>
</html>