{% extends 'portfolioWeb/base.html' %}

{% block title %}
Projects Page
{% endblock %}
{% load static %}
{% block content %}
<div class="container testowa">
    <h2 class="mb-5" id="projectsHeader">Projects </h2>
    <h4 id="projectsSubtitle">Here are some of my projects</h4>
    <p class="mb-5" id="projectsDescription">You can check everything what you want :)</p>
    <div class="projects d-flex align-items-center flex-column">
        <div class="card text-center mb-5 ">
            <div class="card-body">
                <img src="{% static 'portfolioWeb/images/DrinkApp2.png' %}" class="card-img-top" alt="...">
                <h5 class="card-title">DrinkApp</h5>
                <p class="card-text" id="projectOneDescription">You can create account and login, add some recipes and upload an
                    image
                    or search  recipes in search engine. To create this app I used : Python, Django, CSS, HTML and
                    deployment app on AWS
                </p>
                <a href="https://adam.django-code-brainers.com/" class="btn btn-primary">Drink App</a>
                <a href="https://github.com/adam19-pl/DrinkApp" class="btn btn-primary">GitHub</a>
            </div>
        </div>
        <div class="card text-center mb-5" >
            <div class="card-body">
                <img src="{% static 'portfolioWeb/images/github.svg' %}" class="card-img-top" alt="...">
                <h5 class="card-title">This Portfolio</h5>
                <p class="card-text" id="projectTwoDescription">My business card. To create this I used : Python, Django, SASS, HTML, Bootstrap, JS and deploy app on Heroku.
                </p>
                <a href="https://github.com/adam19-pl/Portfolio" class="btn btn-primary">GitHub</a>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <img src="{% static 'portfolioWeb/images/PoissonApp.png' %}" class="card-img-top" alt="...">
                <h5 class="card-title">Poisson App</h5>
                <p class="card-text" id="projectThreeDescription">Do you want predict football match? Try this app. To create this I used : Python, Django, SASS, HTML, Bootstrap, JS, ParticlesJS, ChartJS, api-football, and deploy app on Heroku.
                </p>
               <a href="https://poisson-app.herokuapp.com/" class="btn btn-primary">Poisson App</a>
                <a href="https://github.com/adam19-pl/PoissonDistribution" class="btn btn-primary">GitHub</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}