.container .btn-send {
  font-weight: bold;
  width: 80px;
}

.container .btn-send:hover {
  color: white;
}

.container .contact-socials div {
  width: 30%;
}

.container .contact-socials div a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: black;
  transition: 0.5s;
  border: 1px solid transparent;
}

.container .contact-socials div a:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.container .contact-socials div a img {
  width: 60px;
}

@media only screen and (max-width: 580px) {
  .container .contact-socials {
    flex-direction: column;
    align-items: center;
  }
  .container .contact-socials div {
    width: 60%;
    margin-bottom: 1rem;
  }
  .container .contact-socials div img {
    width: 40px;
  }
}
