@import 'portfolioWeb/scss/colors';
@import 'portfolioWeb/scss/index/about-me/about';
@import 'portfolioWeb/scss/index/skills/skills';
@import 'portfolioWeb/scss/index/projects/projects';
@import 'portfolioWeb/scss/index/contact/contact';
@import 'portfolioWeb/scss/about-page/about';
@import 'portfolioWeb/scss/contact-page/contact';
@import 'portfolioWeb/scss/footer/footer';

body{
text-align:center;
color: black;
background-color: #f7f7f7;
font-size: 1rem;

    h2{
    position:relative;
        &::after{
        content:'';
        display:block;
        position:absolute;
        top:130%;
        left:50%;
        transform:translate(-50%,100%);
        width: 20%;
        height:3px;
        background: #00bbff;
        }
    }


        .button-read-me{
        text-decoration:none;
        color: white;
        padding: 0.6rem;
        background: rgb(0,192,237);
        border-radius: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        transition: 600ms;

            &:hover {
                color:white;
                background: #05729A;
            }
        }
}