.testowa {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.testowa .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  height: 400px;
}

.testowa .loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px dotted #eee;
  border-radius: 42% 58% 31% 69% / 59% 42% 58% 41%;
  animation: animate 10s linear infinite;
  box-shadow: 0px 0px 64px 14px rgba(28, 28, 39, 0.81);
  -webkit-box-shadow: inset 0px 0px 64px 1px rgba(28, 28, 39, 0.08);
  -moz-box-shadow: inset 0px 0px 64px 1px rgba(28, 28, 39, 0.08);
  box-shadow: inset 0px 0px 64px 1px rgba(28, 28, 39, 0.08);
}

.testowa .loader span:nth-child(2) {
  animation-direction: reverse;
}

.testowa .loader span:nth-child(3) {
  animation-duration: 7s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 900px) {
  .testowa .loader {
    width: 50vw;
    height: 50vw;
  }
}

@media only screen and (max-width: 402px) {
  .testowa .loader {
    width: 200px;
    min-height: 200px;
  }
}
