body {
  text-align: center;
  color: black;
  background-color: #f7f7f7;
  font-size: 1rem;
}

body .testowa {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

body .testowa .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  height: 400px;
}

@media only screen and (max-width: 900px) {
  body .testowa .loader {
    width: 50vw;
    height: 50vw;
  }
}

@media only screen and (max-width: 402px) {
  body .testowa .loader {
    width: 200px;
    min-height: 200px;
  }
}

body .testowa .loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px dotted #eee;
  border-radius: 42% 58% 31% 69% / 59% 42% 58% 41%;
  animation: animate 10s linear infinite;
  box-shadow: 0px 0px 64px 14px rgba(28, 28, 39, 0.81);
  -webkit-box-shadow: inset 0px 0px 64px 1px rgba(28, 28, 39, 0.08);
  -moz-box-shadow: inset 0px 0px 64px 1px rgba(28, 28, 39, 0.08);
  box-shadow: inset 0px 0px 64px 1px rgba(28, 28, 39, 0.08);
}

body .testowa .loader span:nth-child(2) {
  animation-direction: reverse;
}

body .testowa .loader span:nth-child(3) {
  animation-duration: 7s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body .skills-section {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00c0ed;
  background: linear-gradient(90deg, #00c0ed 0%, #0065ff 50%, #7c00ff 89%);
}

body .skills-section .skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

body .skills-section .skills .skill-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
  width: 30%;
  height: 20%;
  border-radius: 1rem;
  -webkit-box-shadow: 8px 8px 24px 0px #42445a;
  -moz-box-shadow: 8px 8px 24px 0px #42445a;
  box-shadow: 8px 8px 24px 0px #42445a;
}

@media only screen and (max-width: 796px) {
  body .skills-section .skills .skill-card {
    width: 70%;
    height: 250px;
  }
}

@media only screen and (max-width: 402px) {
  body .skills-section .skills .skill-card {
    width: 70%;
    height: 200px;
  }
}

body .skills-section .skills .skill-card .skill-image {
  padding: 0;
  width: 50%;
  margin: 0 auto;
}

body .skills-section .skills .skill-card .skill-image img {
  display: block;
  margin: 1rem auto;
  width: 80%;
  height: 80%;
}

body .skills-section .skills .skill-card h3 {
  margin: 1rem 0;
}

body .footer-test {
  flex-wrap: wrap;
  color: white;
  font-size: 0.8rem;
  background: #00c0ed;
  background: linear-gradient(101deg, #00c0ed 0%, #0065ff 50%, #7c00ff 89%);
}

body .footer-test h5 {
  margin: 0;
}

body .footer-test a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #f2f2f2;
}

body .footer-test ul {
  margin: 0;
  padding: 0;
}

body .footer-test ul li {
  padding: 0.5rem;
  list-style-type: none;
}

.button-read-me {
  text-decoration: none;
  color: white;
  padding: 0.6rem;
  background: #00c0ed;
  border-radius: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 600ms;
}

.button-read-me:hover {
  color: white;
  background: #05729A;
}
