.testowa {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.testowa .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  height: 400px;
}

.testowa .loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px dotted #eee;
  border-radius: 42% 58% 31% 69% / 59% 42% 58% 41%;
  animation: animate 10s linear infinite;
  box-shadow: 0px 0px 64px 14px rgba(28, 28, 39, 0.81);
  -webkit-box-shadow: inset 0px 0px 64px 1px rgba(28, 28, 39, 0.08);
  -moz-box-shadow: inset 0px 0px 64px 1px rgba(28, 28, 39, 0.08);
  box-shadow: inset 0px 0px 64px 1px rgba(28, 28, 39, 0.08);
}

.testowa .loader span:nth-child(2) {
  animation-direction: reverse;
}

.testowa .loader span:nth-child(3) {
  animation-duration: 7s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 900px) {
  .testowa .loader {
    width: 50vw;
    height: 50vw;
  }
}

@media only screen and (max-width: 402px) {
  .testowa .loader {
    width: 200px;
    min-height: 200px;
  }
}

.skills-section {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00c0ed;
  background: linear-gradient(90deg, #00c0ed 0%, #0065ff 50%, #7c00ff 89%);
}

.skills-section h3 {
  margin: 1rem 0;
}

.skills-section .skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.skills-section .skills .skill-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
  width: 30%;
  height: 350px;
  border-radius: 1rem;
  -webkit-box-shadow: 8px 8px 24px 0px #42445a;
  -moz-box-shadow: 8px 8px 24px 0px #42445a;
  box-shadow: 8px 8px 24px 0px #42445a;
}

.skills-section .skills .skill-card .skill-image {
  width: 60%;
}

@media only screen and (max-width: 1199.98px) {
  .skills-section .skills .skill-card {
    width: 30%;
    height: 300px;
  }
  .skills-section .skills .skill-card .skill-image {
    width: 50%;
  }
}

@media (max-width: 991.98px) {
  .skills-section .skills .skill-card {
    width: 30%;
    height: 250px;
  }
  .skills-section .skills .skill-card .skill-image {
    width: 50%;
  }
}

@media (max-width: 767.98px) {
  .skills-section .skills .skill-card {
    width: 30%;
    height: 200px;
  }
  .skills-section .skills .skill-card .skill-image {
    width: 50%;
  }
}

@media only screen and (max-width: 580px) {
  .skills-section .skills .skill-card {
    width: 70%;
    height: 250px;
  }
  .skills-section .skills .skill-card .skill-image {
    width: 40%;
  }
}

.projects-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects-section .container .card {
  width: 80%;
}

.projects-section .container .card img {
  width: 60%;
  height: 500px;
}

@media only screen and (max-width: 768px) {
  .projects-section .container .card img {
    width: 300px;
    height: 250px;
  }
}

@media only screen and (max-width: 568px) {
  .projects-section .container .card img {
    width: 200px;
    height: 150px;
  }
}

@media only screen and (max-width: 368px) {
  .projects-section .container .card img {
    width: 150px;
    height: 150px;
  }
}

.mail-information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-form input {
  color: black;
}

.contact-form textarea {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}

form .errorlist {
  padding: 0;
}

form .errorlist li {
  list-style: none;
  color: red;
  font-weight: bold;
}

form label {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
}

form input {
  color: white;
  text-align: center;
  margin: 0 auto 1rem auto;
  height: 3rem;
  width: 60%;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-bottom: 2px solid #adadad;
  outline: none;
  transition: 0.5s;
}

form input:focus {
  background: rgba(0, 0, 0, 0);
  border-bottom: 2px solid #00bbff;
}

@media only screen and (max-width: 402px) {
  form input {
    width: 80%;
  }
}

form textarea {
  color: white;
  margin: 0 auto 1rem auto;
  text-align: center;
  width: 60%;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-bottom: 2px solid #adadad;
  outline: none;
  transition: 0.5s;
}

form textarea:focus {
  background: rgba(0, 0, 0, 0);
  border-bottom: 2px solid #00bbff;
}

@media only screen and (max-width: 402px) {
  form textarea {
    width: 80%;
  }
}

.content-information {
  border-radius: 34% 66% 31% 69% / 60% 34% 66% 40%;
  background: rgba(222, 222, 222, 0.5);
  width: 70%;
  height: 450px;
}

.content-information p {
  width: 80%;
}

.content-information img {
  display: block;
  width: 70%;
  height: 70%;
}

@media (max-width: 767.98px) {
  .content-information {
    width: 80%;
    height: 400px;
  }
}

@media (max-width: 580px) {
  .content-information {
    width: 100%;
    height: 300px;
  }
  .content-information p {
    width: 100%;
  }
}

table {
  width: 75%;
  font-weight: 500;
}

table th {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

table tr i {
  color: #a4aab0;
}

table tr .point {
  color: #479ef5;
}

table tr td {
  color: #829cbd;
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

@media only screen and (max-width: 796px) {
  table {
    width: 100%;
  }
  table td {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 402px) {
  table {
    width: 100%;
  }
  table tr th {
    font-size: 1rem;
  }
  table tr td {
    font-size: 1rem;
  }
}

.container .btn-send {
  font-weight: bold;
  width: 80px;
}

.container .btn-send:hover {
  color: white;
}

.container .contact-socials div {
  width: 30%;
}

.container .contact-socials div img {
  width: 60px;
}

@media only screen and (max-width: 580px) {
  .container .contact-socials {
    flex-direction: column;
    align-items: center;
  }
  .container .contact-socials div {
    width: 60%;
    margin-bottom: 1rem;
  }
  .container .contact-socials div img {
    width: 40px;
  }
}

.container .projects .card {
  width: 60%;
}

.container .projects .card img {
  margin-bottom: 1.5rem;
  width: 70%;
  height: 300px;
}

@media only screen and (max-width: 768px) {
  .container .projects .card {
    width: 80%;
  }
  .container .projects .card img {
    width: 300px;
    height: 250px;
  }
}

@media only screen and (max-width: 568px) {
  .container .projects .card {
    width: 80%;
  }
  .container .projects .card img {
    width: 200px;
    height: 150px;
  }
}

@media only screen and (max-width: 320px) {
  .container .projects .card {
    width: 90%;
  }
  .container .projects .card img {
    width: 150px;
    height: 100px;
  }
  .container .projects .card a {
    margin-bottom: 1rem;
  }
}

.footer-test {
  flex-wrap: wrap;
  color: white;
  font-size: 0.8rem;
  background: #00c0ed;
  background: linear-gradient(90deg, #00c0ed 0%, #0065ff 50%, #7c00ff 89%);
}

.footer-test h5 {
  margin: 0;
}

.footer-test a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #f2f2f2;
  position: relative;
}

.footer-test a::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  top: 110%;
  left: 0px;
  background: white;
  transition: 0.8s;
}

.footer-test a:hover::before {
  width: 100%;
}

.footer-test ul {
  margin: 0;
  padding: 0;
}

.footer-test ul li {
  padding: 0.5rem;
  list-style-type: none;
}

@media only screen and (max-width: 580px) {
  .footer-test ul {
    flex-direction: column;
  }
}

body {
  text-align: center;
  color: black;
  background-color: #f7f7f7;
  font-size: 1rem;
}

body h2 {
  position: relative;
}

body h2::after {
  content: '';
  display: block;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 20%;
  height: 3px;
  background: #00bbff;
}

body .button-read-me {
  text-decoration: none;
  color: white;
  padding: 0.6rem;
  background: #00c0ed;
  border-radius: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 600ms;
}

body .button-read-me:hover {
  color: white;
  background: #05729A;
}
